.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
clear: both;
}
.clearfix {
*zoom: 1;
}
/*todos os elementos agora levarão em conta apenas a largura e altura determinada, sem somar a este valor a borda e o padding.*/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
/****CORPO DA PÁGINA****/
body{
    /*Determina a largura máxima do conteúdo (desktop)*/
    min-width: 360px;
    max-width: 1128px;
    margin: 0 auto;

    background-color: #eaeaea;

    /*Padronizar o tamanho da fonte de referência
    Fonte padrão dos navegadores, 16px em média. 62,5% = 10px*/
    font: normal 62.5% Calibri; 
}  

/*BARRA DE MENU*/
header{
    width: 100vw;
    height: 40px;
    margin-top: 2.5em;
    margin-bottom: 2em;
  }
  .menu {
    align-items: center;
    display: flex;
    float: left;
  }
  .menu ul {
    list-style:none;
  }
  .menu ul li { 
    display: inline; 
  }
  .menu ul li a {  
    border-radius: 0.5em;
    display: inline-block;
    margin: 5px 0;
    padding: 5px 10px;
    
    /* visual do link */
    background-color:#FFF;
    color: #324474;
    font-size: 1.3em;
    font-weight: bolder;
    text-decoration: none;
  }
  .menu ul li a:hover {
    background-color:#D6D6D6;
    border-bottom:2px solid #324474;
    color: #6D6D6D;
  }
  #selected{
    background-color:#696969;
    color:white;
  }

/*TÍTULO*/
.caixa {
    font-size: 1.5em;
    text-align: center;
    color: black;
}

/*TEXTO E RESULTADO*/
section{
    background: #FFF;
    border-radius: 1em;
    padding: 1.5em;
    min-width: 35em;
    max-width: 63em;
    margin: auto;
    margin-top: 2.5em;
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.288);
}

.insert{
    width: 40%;
    margin: 0;
    display: inline-block;
    float: left;
    font-size: 1.6em;
}
/*div do botão*/
.txtnum{
    width: 90px;
    margin: 0;
    border-radius: 4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: none;
    border: 1px solid #324474;
    padding: 2px 4px;
}
.container_botao{
    width: 22%;
    display: inline-flex;
    text-align: center;
}
.botao{
    background-color: #324474;
    color: #FFF;
    font-size: small;
    padding: 0;
    border: 0;
    border-radius: 20px;
    float: left;
    height: 21.5px;
}
span{
    display: block;
    height: inherit;
    margin: 3.5px 15px;
}

/*ÁREA DE RESULTADO*/
#resultado{
    margin-top: 10px;
}
select{
    border-radius: 2px;
    padding: 5px;
    width: 200px;
}
option{
    text-align: center;
    padding: 5px;
}

/*estilo de cores alternadas no select*/
option.tabpar{background-color: rgb(243, 243, 213);}
option.tabimpar{ background-color: rgb(223, 224, 243);}
/*fim estilo de cores alternadas no select*/

/*Estilo da barra de rolagem*/
::-webkit-scrollbar-track {
    background-color: #FFF;
    border: none;
    border-radius: 0 1px 1px 0;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
    border-radius: 5px;
}

/*Rodapé*/
footer{
    color: black;
    text-align: center;
    font-style: italic;
}